# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtualenv
venv/
.env
*.env

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# Coverage/test artifacts
htmlcov/
coverage_html/
.coverage
reports/
